<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;">Image Classification with Semi-Supervised Learning</h1>
<h2 style="color: #2e6c80;">Challenge Overview</h2>
<p>본 챌린지는 Semi-Supervised 방식으로 Image Classification 문제 해결을 수행합니다. 본 챌린지에서 기초가 되는 방법론으로는 <a href="https://arxiv.org/ftp/arxiv/papers/2001/2001.07685.pdf" target="_blank">FixMatch</a> 입니다. 베이스라인에 관련한 자세한 내용은 발표영상을 참고하시기 바랍니다</p>
<h4><img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" /> <strong>베이스라인 정보</strong></h4>
<ul>
<li>베이스라인 방법론: FixMatch</li>
<li>베이스라인 코드: FixMatch with tensorflow [<a href="https://github.com/google-research/fixmatch" target="_blank">Link</a>]</li>
</ul>
<h4><strong><img src="https://html-online.com/editor/tiny4_9_11/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" /> 데이터셋 정보</strong></h4>
<ul>
<li>데이터셋 명: CIFAR-10 </li>
</ul>
<h2 style="color: #2e6c80;">참고자료</h2>
<p>[1] FixMatch: Simplifying Semi-Supervised Learning with Consistency and Confidence</p>
